*{margin:0;padding:0;}
.container{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
section{
	flex:1;
	overflow: hidden;
}
ul{
	list-style: none;
}
input{
	background:none;  
	outline:none;  
	border:none;
}
input:focus{   
	border:none;
}